<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add 
      name="PintureriaDB"
      connectionString="
      Server=localhost;
      Port=3306;
      Database=PintureriaDB;
      Uid=root;
      Pwd=123456789;
      SslMode=Required;"
      providerName="MySql.Data.MySqlClient" 
    />
  </connectionStrings>
</configuration>